.App {
  width: 100%;
}

.App-title {
  padding-top: 50px;
  padding-left: 50px;
  font-size: 24px;
}

.App-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App-col {
  padding: 20px;
  text-align: center;
}

.App-item {
  margin-top: 30px;
  margin-bottom: 100px;
}
